<!DOCTYPE html>
<html>
	<head>
		<title>My first revision</title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">	
		<link rel="stylesheet" href="styles.css">
		<style>
			@media (min-width:500px){
				body{
					background-color:blue;
				}
			}
			
			@media (max-width:499px){
				body{
					background-color:red;
				}
			}
			
			h1:hover{
				text-shadow: 2px 2px #ff0000;
			}
		</style>
	</head>
	<body>
		<h1> {% block heading %} {% endblock %} </h1>
		
		{% block body %}
		{% endblock %}
	</body>
</html>