img{
	width:300px;
	height:220px;
}

th{
	font-size:20px;
}

td, th{
	background-color:teal;
	text-align:center;
}

a{
	color:black;
	text-decoration:none;
}

p::selection{
	color:white;
	background-color:black;
}

h1:hover,h2:hover{
	text-shadow: 2px 2px #ff0000;
}


table td{
    
        opacity:50;
    
}
